{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
    <div class="w3-container">
        <h1>{% trans "WikiConecta" %}</h1>
        <div class="w3-container">
            {% if user.is_authenticated %}
                <p>{% blocktrans with username=user.username %}Welcome, {{ username }}!{% endblocktrans %}</p>
            {% else %}
                <p>{% blocktrans %}Welcome!{% endblocktrans %}</p>
            {% endif %}
        </div>
        <h2>{% trans "About the course" %}</h2>
        <div class="w3-container" style="display:flex; flex-direction:column;">
            <p>{% blocktrans %}The Wikiconecta is an initiative from <a target="_blank" href="https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/pt-br" aria-label="Wiki Movimento Brasil's page">Wiki Movement Brazil</a>.{% endblocktrans %}</p>
            <p>{% blocktrans %}It was developed over several months of research and work, and counted with the participation of <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Expediente" aria-label="Wikimedians involved">several Wikimedians</a>, committed to free knowledge.{% endblocktrans %}</p>
            <p>{% blocktrans %}The course is divided into modules, which one of them subdivided into units. You can check the <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Módulos" aria-label="Pages with the modules of the course">course's summary and content</a>. You can also <a target="_blank" href="https://outreachdashboard.wmflabs.org/courses/Grupo_de_Usuários_Wiki_Movimento_Brasil/WikiConecta" aria-label="Enrollment page">enroll in to participate in the course</a> and later get certificated.{% endblocktrans %}</p>
            <p>{% blocktrans %}If you have any questions about this course, write to <a target="_blank" href="mailto:educacao@wmnobrasil.org" aria-label="Email of the project">educacao@wmnobrasil.org</a>.{% endblocktrans %}</p>
        </div>
        <h2>{% trans "What you will learn" %}</h2>
        <div class="w3-container" style="display:flex; flex-direction: column;">
            <p>{% blocktrans %}The objective of WikiConecta is to present in a condensed form the information that educators need to start using the Wikimedia projects with their students, especially in university extension.{% endblocktrans %}</p>
            <p> {% trans "At the end of the course, participants should be able to:" %}</p>
            <ul>
                <li>{% trans "Have ideas for activities to develop with your students, especially in university extension;" %}</li>
                <li>{% trans "Basic editing of four Wikimedia projects - Wikipedia, Wikidata, Wikimedia Commons and Wikiversity;" %}</li>
                <li>{% trans "Develop your own wiki-education programs;" %}</li>
                <li>{% trans "Find more advanced information about Wikimedia projects of your interest;" %}</li>
                <li>{% trans "Know how to ask for funding to develop your wiki-education programs." %}</li>
            </ul>
            <p style="font-size:85%">{% blocktrans %}<b>Attention!</b> This course does not intended to replace existing materials, nor to delve into specific and advanced details of the Wikimedia projects. Our goal is to facilitate the entry of educators interested in the Wikimedia universe, including by gathering and systematizing existing content.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}