{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="w3-container">
        <h1>{% trans "About WikiConecta" %}</h1>
        <div class="w3-container" style="display:flex; flex-direction:column;">
            <p>{% blocktrans %}The Wikiconecta is an initiative from <a target="_blank" href="https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/pt-br" aria-label="Wiki Movimento Brasil's page">Wiki Movement Brazil</a>.{% endblocktrans %}</p>
            <p>{% blocktrans %}It was developed over several months of research and work, and counted with the participation of <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Expediente" aria-label="Wikimedians involved">several Wikimedians</a>, committed to free knowledge.{% endblocktrans %}</p>
            <p>{% blocktrans %}The course is divided into modules, which one of them subdivided into units. You can check the <a target="_blank" href="https://pt.wikiversity.org/wiki/WikiConecta/Módulos" aria-label="Pages with the modules of the course">course's summary and content</a>. You can also <a target="_blank" href="" aria-label="Enrollment page">enroll in to participate in the course</a> and later get certificated.{% endblocktrans %}</p>
            <p>{% blocktrans %}If you have any questions about this course, write to <a target="_blank" href="mailto:educacao@wmnobrasil.org" aria-label="Email of the project responsible">educacao@wmnobrasil.org</a>.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}

<!DOCTYPE html>
<html>
<body>
  <h1>Login</h1>
  <a href="{% url 'social:begin' 'mediawiki' %}">Login with Wikimedia</a>
</body>
</html>